extends layout

block content

    header
        a(href='/')
            img(src='images/logo.png', alt='Home', style='width: 150px; height: 40px; margin-left: 10px;')
            

    
    body
        
            h1= title

            ul
                each user, i in userlist
                    li
                        p #{user.firstname} #{user.lastname}
                        p #{user.alias} 
                        a(href="mailto:#{user.email}")= user.email
