extends layout

block content

    #home
        a(href='/') Home 

    h1= title
        
    ul
        each user, i in userlist
            li
                p #{user.firstname} #{user.lastname}
                p #{user.alias} 
                a(href="mailto:#{user.email}")= user.email
                