extends layout

block content

    header
        a(href='/')
            img(src='images/logo.png', alt='Home', style='width: 190px; height: 100px; margin-left: 20px;')
            

    
    body

        .container
        
            h1= title

            ul
                each user, i in userlist
                    li
                        p #{user.firstname} #{user.lastname}
                        p #{user.alias} 
                        a(href="mailto:#{user.email}")= user.email
